/* =========> Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/*  Fonts <======== */
* {
  margin: 0;
  padding: 0;
}
html {
}
:root {
  --nav-fixed-size: 50px;
}
body {
  height: 100vh;
}
/* =======> Nav */

nav {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: royalblue; */
  justify-content: space-between;
  width: 100vw;
  height: var(--nav-fixed-size);
  border-bottom: 1px solid rgb(66, 63, 63);
}

nav > h2 {
  font-size: 2.2vw !important;
  padding: 0 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  /* background: crimson; */
  gap: 1.5rem;
  font-weight: 800;
  font-size: 1rem;
}
nav ul li {
  padding: 0 1.5rem;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
}

nav ul li i {
  display: none;
}
/* =====> Main Content 1 */
.content-main-1 {
  width: 100vw;
  height: calc(100vh - var(--nav-fixed-size));
  /* background: crimson; */
  display: flex;
}

.content-main-1 > .content-left-main {
  height: calc(90vh - var(--nav-fixed-size));
  width: calc(100vw / 2);
  /* background: red; */
  padding: 2vw 3vw;
}
.content-main-1 > .content-left-main > h2 {
  font-size: 3vw;
  padding: 0.1vw 2vw;
  line-height: normal;
}

.lightsea_green_text {
  color: #fbb82c;
}
.content-main-1 > .content-left-main > p {
  padding: 1vw 2vw;
}
.content-main-1 > .content-left-main > button {
  margin: 1vw 2vw;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  font-weight: 500;
  background: #fbb82c;
  color: white;
  border: none;
  border-radius: 5px;
}

.content-main-1 > .content-right-main {
  height: calc(90vh - var(--nav-fixed-size));
}
.content-main-1 > .content-right-main > .image {
  height: inherit;
  width: calc(100vw / 2);
  background: url("./studyBG.png");
  background-repeat: no-repeat;
  background-size: 40vw calc(100vh - var(--nav-fixed-size));
}

/* =========> Media Query */

/* ========>For Phones  (extra small)*/
@media (max-width: 600px) {
  body {
    /* height: auto; */
  }
  nav {
    height: calc(var(--nav-fixed-size) - 20px);
    /* background: cadetblue; */
    justify-content: space-between;
  }
  nav h2 {
    /* background: rebeccapurple; */
    padding: 0 2.5rem;
    font-size: 4.5vw !important;
  }
  nav ul {
    display: inline;
    /* width: 5vw; */
    /* background: green; */
  }
  nav ul li a {
    padding: 0;
    display: none;
  }

  nav ul li i {
    padding: 0 2.5rem;
    font-size: 3vw;
    display: inherit;
  }

  .content-main-1 {
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 5px 0;
  }

  .content-main-1 > .content-left-main {
    height: 100%;
    width: fit-content;
    /* background: red; */
    padding: 0 1.5rem;
  }
  .content-main-1 > .content-left-main > h2 {
    font-size: 5vw;
    width: 100%;
    padding: 0.1vw 2vw;
    line-height: normal;
  }

  .lightsea_green_text {
    color: #fbb82c;
  }
  .content-main-1 > .content-left-main > p {
    padding: 1vw 2vw;
    font-size: 2vw;
  }
  .content-main-1 > .content-left-main > button {
    margin: 1vw 2vw;
    padding: 1vw 2vw;
    font-size: 3vw;
    font-weight: 500;
    background: #fbb82c;
    color: white;
    border: none;
    height: 5vh;
    border-radius: 5px;
  }

  .content-main-1 > .content-right-main {
    width: 100%;
    height: 60vh;
  }
  .content-main-1 > .content-right-main > .image {
    /* margin: 0 auto; */
    /* padding: 0 auto; */
    height: inherit;
    background: green ("./studyBG.png");
    background-repeat: no-repeat;
    background-size: 90vw 90vw;
    width: 100%;
  }
}
nav {
  @media (min-width: 600px) {
    height: 50px;
    /* background: cadetblue; */
  }
  nav h2 {
    font-size: 3vw;
    /* background: green; */
  }
  nav ul {
    height: inherit;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 50%;
    /* background: red; */
    padding: 0;
  }
  nav ul li {
  }
  nav ul li a {
    padding: 0;
    font-size: 1rem;
  }
}
